@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  font-size: 0.9rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

/* For touch devices */
@media (hover: none) {
  body {
    font-weight: bold;
  }
}

@media (min-width: 321px) {
  body {
    font-size: 1.1rem;
  }
}
